body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f2f4f8;
}

header {
  background: #111827;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.form {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.preview-area {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.preview {
  background: white;
  padding: 40px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  border-radius: 10px;
    word-wrap: break-word;
  overflow-wrap: break-word;
    max-width: 100%;
  overflow: hidden;
}

.preview.premium {
  border-left: 8px solid #2563eb;
  background: #f9fbff;
}

.preview h1 {
  margin-top: 0;
  color: #111827;
}

input, textarea, select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:14px;
}

button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #1d4ed8;
}

.preview p, 
.preview h1, 
.preview h3 {
  word-break: break-word;
}

/* RESPONSIVO */
@media(max-width: 768px) {
  .container {
    flex-direction: column;
  }
}